#container {
  display: flex;
  justify-content: center;
}

#grid {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 800px;
}
.row {
  display: flex;
  flex: 1;
}

.square {
  display: flex;
  flex: 1;
  border-style: solid;
}

.color {
  background-color: black;
}