h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
}

#grid {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 800px;
  border-style: solid;
}
.row {
  display: flex;
  flex: 1;
}

.square {
  display: flex;
  flex: 1;
}

.color {
  background-color: black;
}